.login-container{
    padding: 2%;
    width: 100%;
    height: 100%;
    background: url(https://m.tianjihr.com/images/login/tianjihr-login-bg1.png) no-repeat right 60px;
    background-size: 50%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column;
    a{
        color: #ff8502;
        font-size: .16rem;
    }
    .login-look{
        display: flex;
        width: 100%;
        justify-content:flex-end;
        img{
            display: block;
            width: 0.15rem;
            height: 0.15rem;
            margin: 5px;
        }
    }
    .login-logo{
        width: 100%;
        display: flex;
       height: 1.8rem;
       align-items: center; 
       justify-content: center;
        a{  
        display: flex;
        justify-content: center;
        }
        img{ 
            width: 50%;
        }
    }
    .login-cont{
        background: #fff;
        border:1px #d2d2d2 solid;
        // @include border(1px,#d2d2d2,solid);
        @include border-radius(5px);
        display: flex;
        flex-flow: column;
        align-content: center;
        .label{
            height: .5rem;
            width: 100%;
            border-bottom: 1px solid #d2d2d2;
            display: flex; 
            .code{

                width: 30%;
                height: .33rem;
                font-size: .14rem;
                border-radius: 3px;
                background: #D5D5D5;
                color: #fff;
                margin: 8px 3% 0 0;
            }
            #eyes{
                width: 13%;
                height: 100%;
                background: url("https://m.tianjihr.com/images/login/no-eyes.png") no-repeat center center;
                background-size: 20px auto;
            }
            img{
                width: 100%;
                height: 100%;
            }
            input{
                display: block;
                border: none;
                width: 72%;
                height: 49px;
                font-size: 16px;
                color: #303030;
                outline: none;
            }
            .login-pic{
            width: 20px;
            height: 20px;
            margin: 15px 4% 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:last-child{
            border: 0;
        }
        }
        
    }
    .login-submit{
        display: block;
        width: 100%;
        height: .5rem;
        font-size: .16rem;
        color: #fff;
        border: none;
        @include border-radius(5px);
        background: #ff8502;
        margin: 24px auto;
    }
    .login-type{
        width: 100%;
        display: flex;
        justify-content: flex-end;
       
    }
    .login-jump{
        margin-top:20%;
        height: .3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .middle{
            background: #EF7B02;
            display: block;
            width: 1px;
            height: .25rem;
            margin: 0 .2rem;
        }
    }
    
    #register-block{
        text-align: center;
        a{
            font-size: .14rem;;
        }
        .register-agreement{
            margin-bottom: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}