.my-container{
    width: 100%;
    display: flex;
    justify-items: center;
    flex-flow: column;
    .top{
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 1.81rem;
        background: coral;
        
        
    }
    .login-status{
        margin-top:.1rem;
        display: block;
        color:#fff;
        font-size: .16rem;
        
    }
    .login-submit{
        display: block;
        width: 96%;
        height: .5rem;
        font-size: .16rem;
        color: #fff;
        border: none;
        @include border-radius(5px);
        background: #ff8502;
        margin: 24px auto;
    }
    .headcon{
        margin-top: 30px;
        width: .8rem;
        height: .8rem;
        background-clip: padding-box;
        overflow: hidden;
        background-color: #cccccc;
        border-radius: 56px;
        border: #FFF 3px solid;
        img{
            width: .74rem;
            height: .74rem;
        }
        
    }
    .login-reg{
        display: block;
        font-size: 16px;
        color: #FFF;
        line-height: 36px;
        text-align: center;
        width: 1.5rem;
        height: 0.36rem;
        margin: 20px 0 10px 0;
        @include border(6px ,#fff)
    }
    .myList{
        font-size: .16rem;
        margin-top:.1rem;
        .myResume{
            display: flex;
            height: 1.19rem;
            background: #fff;
            @include border(0 0 2px 0,#d9d9d9)
        }
        .myResume:nth-child(2){
            padding-top: 0px;
            padding-bottom:.1rem;
        }
        li{
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            @include border(0 0 0 2px,#d9d9d9)
        }
        .jianli{
            display: block;
            width: .55rem;
            height: .55rem;
            background: url(/assets/images/tianjihr-jianli.png) no-repeat;
            background-size: 100% 100%;
        }
    }
}